.search-btn {
    display: inline-block;
    border: 1px solid #cccccc;
    font-size: 14px;
    padding: 5px 10px;
    background-color: #fafafa;
    color: #0591e6;
    min-width: 80px;
    text-align: center;
    outline: none;
    cursor: pointer;
}

.search-btn-two {
    letter-spacing: 8px;
    text-indent: 8px;
}

.search-btn.disable {
    background-color: #fafafa;
    color: #bbd4ec;
}
