<div>
    <div class="{{style['select-input']}}">
        <div class="{{style.input}}">
            {{props.option.text}}
        </div>
        <div class="{{style['input-btn']}}" toro-on="click|showOptions|{{data.isVisibility}}">▼</div>
    </div>
    <div class="{{style['select-options']}}">
        <ul class="{{ data.isVisibility ? '' : style.hidden}} {{style['options-list']}}">
            {{each props.options option idx}}
            <li toro-on="click|select|{{idx}}">{{option.text}}</li>
            {{/each}}
        </ul>
    </div>
</div>