<div class="{{style.wrapper}}">
    <div class="{{style['input-container']}}">
        <div class="{{style['input-btn']}} {{style['input-btn-left']}}">▓</div>
        <input title="time-pick" class="{{style['time-input']}}" type="text" readonly>
        <div class="{{style['input-btn']}} {{style['input-btn-right']}}">&times;</div>
    </div>
    <div class="{{style.calender}}">
        <div class="{{style['day-container']}}">
            <div class="{{style['pre-day']}} {{ data.currDate|previousMonthDisabled ? '' : style.disabled }}" toro-on="click|previousMonth">◀</div>
            <div class="{{style['current-day']}}">{{data.currMonthName}} {{data.currYear}}</div>
            <div class="{{style['next-day']}}">▶</div>
        </div>
        {{each data.daysOfWeek day}}
        <div class="{{style.cell}} {{style['day-header']}}">{{day}}</div>
        {{/each}}
        {{each data.blankDays}}
        <div class="{{style.cell}}"></div>
        {{/each}}
        {{each data.days day}}
        <div class="{{style.cell}}">{{day.date}}</div>
        {{/each}}
    </div>
</div>