.tab-view {
    width: 100%;

}

.tab-group {
    font-size: 14px;
    list-style: none;
    border-bottom: 1px solid #e4e4e4;
}

.tab-group:before,
.tab-group:after {
    display: table;
    content: '';
    clear: both;
}

.tab-group > li {
}

.tab-group > li > a {
    float: left;
    padding: 10px 15px;
    min-width: 90px;
    margin-left: -1px;
    border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-left: 1px solid #e4e4e4;
    background-color: #f6f6f6;
    color: #969696;
    cursor: pointer;
    text-align: center;
}

.tab-group > li > a.active {
    color: #0095f8;
    background-color: #ffffff;
    border-top: 1px solid #0581e6;
    margin-bottom: -1px;
    border-bottom: 1px solid transparent;
}

.more > a {
    background-color: transparent !important;
    border: none !important;
}

.more {
    float: right !important;
}

.icon-right:after {
    content: '\e62e';
}

.icon-right {
    margin-left: 5px;
}